*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/example/poste/api/twitter/Keys
apikey.properties
apikey.properties
.idea/
*.crt
*.key
*.pem
